.section{
    padding-top: 5px;

    input{
        border: 1px solid rgb(115, 109, 202);
        border-radius: 5px;
        min-height: 25px;
        margin-left: 5px;
    }
    label{
        color: rgb(4, 4, 109);
    }

}